body { background-color: #E9B19C;
	font-family: Arial, Verdana, sans-serif; 
	 margin-left: auto;
	margin-right: auto;
	width: 80%;
}
header { text-align: center; 
	border: 1px solid;
	background-color: #FE9D7A;
	padding: 10px;
	font-family: Georgia, "Times New Roman", serif;

 }
 h2 { text-align: center; 
	border: 1px solid;
	background-color: #FE9D7A;
	padding: 10px;
	box-shadow: 2px 2px 2px;
	font-family: Georgia, "Times New Roman", serif;
	margin-top: 40px;
  }
nav a { background-color:  #DD734C; 
	color: white; 
	padding: 5px 85px; 
	text-decoration: none;
	border: 4px solid;
	margin-right: 0px;
}
div { margin-top: 40px;
	margin-right: 400px;
	border: 1px solid;
	margin-bottom: 400px;
 }


.back { background-image: url('Images/mclaren.jpg');
	color: white;
	background-size: 1400px 760px;
	background-repeat: no-repeat;
}
.imagine { background-color: #486180; }

.mback { background-color: white;
	background-size: 1400px 960px;
	background-repeat: no-repeat;
	color: black;
 }
.mimagine { background-color: #EE3E3E; }
.vback { background-image: url('Images/strawhat.png');
	color: white;
	background-size: 1800px 960px;
	background-repeat: no-repeat; }
.vimagine { background-color: #D9B466; }
.home { color: white; margin-right: 0px; 
	border:  2px solid #000000; 
	padding: 20px; 
}
