body { 
	background-color: lightblue;
	background-color: #000000;
	opacity: 0.7;
	background-image: radial-gradient(#add8E6 1.2000000000000002px, #000000 1.2000000000000002px);
	background-size: 24px 24px;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
	opacity: 1;
	background-image: url('images/ghanaflag.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	z-index: -3;
	opacity: 1;
	
}
h1 { color: darkblue; 
	text-align:center; 
	font-family: Arial, Verdana, sans-serif;
	background-color: lightblue;
	border: solid;
	border-top-color: red;
	border-bottom-color: green;
	border-left-color: yellow;
	border-right-color: yellow;
	padding: 10px;
	border-radius: 5px;
	border-width: 10px;
}
h2 { color: darkblue; font-family: Arial, Verdana, sans-serif;
	box-shadow: 15px 15px orange;
	background-color: lightblue;
	width: 400px;
	padding: 20px;

} 
h3 { color: darkblue; 
	font-family: Arial, Verdana, sans-serif; 
	text-shadow:2px 2px 2px darkgoldenrod;
}
.text { text-transform: uppercase; }
ul > li { color: darkgoldenrod;  
	text-transform: none; 
	line-height: 160%;
}
ol > li { 
	color: darkgoldenrod; 
	margin-right: 10%; 
	text-transform: none; 
	line-height: 1.8;}


#wrapper {  
	border: solid darkslateblue;
	padding-right: 40px;
	padding-top:6px;
	float: left;
	padding-left: 5px;
}
#mapper { 
	float: right;
	bottom: 0px;
	border: solid darkslateblue;
	margin-top: auto;
	padding-left: 5px;

}
#whopper { 
	border: solid darkblue thick;
	padding-left: 10px;
 }
.more { width: auto; line-height: 1.5;  }
a:link { color: darkslateblue; }
a:visited { color: red; }
a:hover { color: orange; }
section { 
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1%;
		justify-content: space-around;
	 }
img { margin: 1.5%; }
table, td { 
	border: 2px solid black;
	padding: 1%;
	font-family: Arial, Verdana, sans-serif;

}
th { font-weight: bolder;
	font-size: 200%;
	font-family: Arial, Verdana, sans-serif;
	text-align: left;

}
td { 
	border: 0;
	border-bottom: 2px dotted black;
}

table { background-color: whitesmoke;
 }
caption { visibility: hidden; }

.nobord { border-bottom: none; }
.align { text-align: right; }
.right { padding-right: 80px; }
#bottom { border-bottom: 4px dashed black;

 }
tr:hover { background-color: lightblue; }
tr:nth-of-type(even) { background-color: lightgray; }

@media screen and (max-width: 1200px) { 
	body { width: 90%; 
		max-width: 850px;

	}
	#glider { display: grid; 
		gap: 1% 1%;
		grid-template-columns: 45% 55%;

	}
	header { grid-row: 1 / 2; grid-column: 1 / 3; }
	#wrapper { grid-row: 2 / 3; grid-column: 1 / 2; }
	#mapper { grid-row: 2 / 4; grid-column:  2 / 3; }
	#whopper { grid-row: 3 / 4; grid-column: 1 / 2; }
	table { grid-row: 4 / 5; grid-column: 1 / 2; }
	section { grid-row: 4 / 5; grid-column: 2 / 3; }
	footer { grid-row: 5 / 6; grid-column: 1 / 3; }
h3 { color: darkblue; 
	font-family: Arial, Verdana, sans-serif; 
	text-shadow:2px 2px 2px darkgoldenrod;
}
.text { text-transform: uppercase; }
ul > li { color: darkgoldenrod;  
	text-transform: none; 
	line-height: 160%;
}
ol > li { 
	color: darkgoldenrod; 
	margin-right: 10%; 
	text-transform: none; 
	line-height: 1.8;}


#wrapper {
	border: solid darkslateblue;
	padding-top:6px;
	padding-left: 5px;
}
#mapper {
	border: solid darkslateblue;
	margin-top: 0;
	padding-left: 5px;

}
#whopper { 
	border: solid darkblue thick;
	padding-left: 5px;
 }
.more { width: auto; line-height: 1.5;  }
}
@media print {
	h1 { border: none; }
	h2 { box-shadow: none; }
	#wrapper {  
		clear: both;
		overflow: auto;
		float: none;
		width: 100%;
		height: 80%;
		border: none;
		margin: 0;
		padding: 0;
	}
	#mapper {
		clear: both;
		overflow: auto;
		float: none;
		width: 100%;
		page-break-after: auto;
		border: none;
		margin: 0;
	}
	#whopper { 
		margin: 0;
		border: none;
		page-break-before: auto;
		padding: 10px;
	 }
	 section, footer { display: none; }
	 ul li, ol li { 
	 	color: black;
	  }
	.more { 
		width: auto;
	 }
}
@media screen and (max-width: 768px) {
	#glider { display: block; }
	h2 { box-shadow: 4px 6px 5px black;
 	}
	#wrapper {  
		clear: both;
		overflow: auto;
		float: none;
		width: 100%;
		border: none;
		margin: 0;
		margin-top: 1%;
		padding: 0;
	}
	#mapper {
		clear: both;
		overflow: auto;
		float: none;
		width: 100%;
		border: none;
		margin: 0;
		padding: 0;
		margin-top: 1%;
	}
	#whopper { 
		margin: 0;
		border: none;
		margin-top: 1%;
		padding: 10px 0px 10px 10px;

	}
	ul li, ol li { 
	 	color: black;
	  }

}

@media screen and (min-width: 1201px) { 
	body { width: 90%; 
		max-width: 1350px;

	}
	#glider { display: grid; 
		gap: 1% 1%;
		grid-template-columns: 45% 55%;

	}
	table { width: 80% }
	header { grid-row: 1 / 2; grid-column: 1 / 3; }
	#wrapper { grid-row: 2 / 3; grid-column: 1 / 2; }
	#mapper { grid-row: 2 / 3; grid-column:  2 / 3; }
	#whopper { grid-row: 3 / 4; grid-column: 1 / 3; }
	table { grid-row: 4 / 5; grid-column: 1 / 2; }
	section { grid-row: 4 / 5; grid-column: 2 / 3; }
	footer { grid-row: 5 / 6; grid-column: 1 / 3; }
ul > li { 
	text-transform: none; 
	line-height: 160%;
	font-size: 140%;
}
ol > li { 
	margin-right: 10%; 
	text-transform: none; 
	line-height: 1.8;
	font-size: 100%;
}
h3 { font-size: 150%; }

h2 { font-size: 180%; 
	width: 450px;

}

h1 { font-size: 220%; }

#whopper {
	padding: 5px 10px 5px 10px;
}
.more { width: auto; line-height: 1.5;  }
p { font-size: 120%; }


}
